{% extends 'default/base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% for post in posts %}
        <div class="post-preview">
            <a href="{% url 'post' post.slug %}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                    {{ post.subtitle }}
                </h3>
            </a>
            <p class="post-meta">Posted on September {{ post.pub_date | date:"F d, Y" }}</p>
        </div>
        <hr>
        {% endfor %}
        <ul class="pager">
            {% if posts.has_next %}
            <li class="next"><a href="{% url 'home' posts.next_page_number %}">Older Posts</a></li>
            {% endif %}
            {% if posts.has_previous %}
            <li class="next"><a href="{% url 'home' posts.previous_page_number %}">Newer Posts</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
