{% extends 'default/base.html' %}
{% load staticfiles %}
{% load default_extras %}
{% block title %}{{ post.title }}{% endblock %}
{% block heading %}
<div class="post-heading">
    <h1>{{ post.title }}</h1>
    <h2 class="subheading">{{ post.subtitle }}</h2>
    <span class="meta">Posted on {{ post.pub_date | date:"F d, Y" }}</span>
</div>
{% endblock %}
{% block img %}{% static 'default/img/post-bg.jpg' %}{% endblock %}
{% block container %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ post.body | safe }}
                <br>
                <hr>
                <div id="disqus_thread"></div>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</article>
<script>
(function() {
    var disqus_config = function () {
    this.page.identifier = '{{ post.pk }}';
    };

var d = document, s = d.createElement('script');

s.src = '//{% setting "DISQUS_SHORTNAME" %}.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% endblock %}
